/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.bluechef {
  background-color: #0f3057;
}

.bluechef-text {
  color: #0f3057;
}

.pastel {
  background-color: #e7e7de;
}

.pastel-text{
  color: #e7e7de;
}

.cyan{
  background-color: #008891;
}

.cyan-text{
  color: #008891;
}

.customopacity{
  opacity:65%;
}

a.customlink{
  color:#09226e;
}

a.customlink:hover{
  color:#416df2;
  opacity:85%;
}


.customcolor{
  background-color:#c2c2c2;
}
